_meta:
  editable_keys:
  - description: 'List of seed inputs (meant to be used for initial seeding only).

      '
    path: fuzzer.seed_inputs
    type: list
  - description: 'List of seed injects (meant to be used for coverage plateau flow
      only).

      '
    path: fuzzer.seed_injects
    type: list
  - description: "List of execution values definitions. Each value can include:\n\
      \  - name: semantic name of the value\n  - type: type of the value, one of:\
      \ int, float, bool, string\n  - notes: human-readable explanation\n"
    path: fuzzer.execution_values
    type: list
  - description: 'List of execution state definitions, they are either values, predicates,
      sums, counters, or sets.


      Each definition takes up a value in the execution state tuple.


      - type: predicate # boolean expression using <execution_value_name> and real

      values, operators: ==, !=, <, >, <=, >=, &&, ||

      - expr: # boolean expression using <execution_value_name> and real values, operators:

      ==, !=, <, >, <=, >=, &&, ||


      - type: value # last value of the given execution value name

      - name: <execution_value_name>


      - type: sum # sum of all values seen for the given execution value name

      - name: <execution_value_name>


      - type: counter # count of how many times the boolean expression is true

      - expr: # boolean expression using <execution_value_name> and real values, operators:

      ==, !=, <, >, <=, >=, &&, ||


      - type: set # set of all values seen for the given execution value name

      - name: <execution_value_name>

      '
    path: fuzzer.execution_state
    type: list
corpus_stat_tracker:
  coverage_plateau_timeout_seconds: 100
  snapshot_interval_seconds: 10
coverage_plateau_flow:
  base_dir: cov_plat_data
  endpoint: http://localhost:8000/run_coverage_plateau_flow
  fuzzer_docker_id: e2aa20b9451433bcd25868f7d0bf9b11072c665a22e8aef3fbc3e1bff23aa4c1
  results_dir: results/CROMU_00005_20251111_182915/cov_plat_0
  source_docker_id: 618a48a28216862b93e6780e59a29dda77ab04d3be9d104cb75e75d8322e39d5
  thread_id: CROMU_00005_20251111_182916::deep_agent
fuzzer:
  execution_limit: 0
  execution_state:
  - name: board_state
    type: value
  - name: current_team
    type: value
  mutation_context:
  - name: board_state
    type: value
  - name: current_team
    type: value
  - name: valid_moves
    type: value
  execution_values:
  - name: board_state
    notes: Serialized 8x8 chess board state as 64-character string
    type: string
  - name: current_team
    notes: Current team to move (0=BLACK_TEAM, 1=WHITE_TEAM)
    type: int
  - name: valid_moves
    notes: Count of valid moves available for current team
    type: int
  function_profile:
    sample_every: 100
    target_only: true
    top_n: 10
  mutations:
    num_mutations: 10
    operators_file: operators.py
    strategy_file: mutation_strategy.json
  per_run_timeout: 5
  seed_injects: []
  seed_inputs:
  - 1,1 1,2\n666
  - 1,1 1,3\n666
  stdout: false
  time_limit: 30
input:
  method: stdin
output:
  dir: out
target:
  binary_path: /home/andrewyin/ExecStateFuzzer/cgc-cbs/cqe-challenges/NRFIN_00005/NRFIN_00005
  cgc_binary: NRFIN_00005
  rootfs: rootfs/x86_linux
